{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
    <!-- <div id="parent"> -->
    <div class="navi">
        <ul>
            <li><img src="https://www.baabtra.com/assets/images/logo.png" alt="" width="190px"></li>
            <li>Programs</li>
            <li>Placements</li>
            <li>About us</li>
            <li><a href="" class="btn"> Enquire Now</li></a>
        </ul>
    </div>
    <div class="container">
        <div class="boxes">---LEARN SOFTWARE
            <div id="soft">
                <h3>Getting a Software Job is So Easy <br> Now with our IT Internship <br>Programs.</h3>
            </div>
            <p>Learn programming from Kerala's most trusted software <br> training company with the highest placement
                record. <br>Enroll in software courses and internship programs in <br>Python, Flutter, Angular and PHP
                to start your career.</p>
        </div>
        <div class="image"></div>
        <div class="oray"><img src="https://www.baabtra.com/assets/images/certifications/Oray-Logo.png" alt=""
                width="150px" class="img">
            <h3 id="affiliation">----WE ARE AFFILIATED WITH</h3>
            <h4 id="educ">Oray Education London, UK</h4>
            <div id="bro"><a href="" class="btn">Download Brochure</a></div>
        </div>
    </div>


    <!-- </div> -->
    <div class="expert">
        <p id="heading">EXPERTISE IN EDUCATION</p>
        <p id="content">Ed-tech company with 11 years of industry leadership in training and <br>placements, holding
            highest number of placement track in Malabar.</p>


    </div>


    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="second">
        <div class="training">Python Training 
            <img src="https://www.baabtra.com/assets/images/course/python-course-training-calicut-kerala.png" alt="" class="size">
        </div>
        <div class="training">Flutter Training
            <img src="https://www.baabtra.com/assets/images/course/flutter-course-training-calicut-kerala.png" alt="" class="size">
        </div>
        <div class="training">Angular Training</div>
        <div class="training">PHP Training</div>
    </div>
    <div id="third">
        <div class="left_img"></div>
        <div class="right_cont">
            <p id="expo">EXPLORE OUR INTERNSHIP PROGRAMME</p>
            <p id="skills">Learn new skills to go ahead of <br> your career</p>
            <div id="pos">
                <p class="red">Join Us <br>
                    <span>It doesn’t matter how talented you are. Join specialized job oriented <br>software courses &
                        training programs and just learn the in-demand skills <br> to be a better programmer.</span>
                </p>
                <p class="red">Get Skilled for Job <br>
                    <span> Get trained and skilled under the guidance of expert software engineers <br>and be ready for
                        the jobs</span>
                </p>
                <p class="red">Get Hired<br>
                    <span> Showcase your profile with skills acquired and get hired by your dream company.</span>

                </p>
            </div>

        </div>
        <!-- <div class="features">
    <div class="show"><p>CS Talent Show</p></div>
    <div class="show"><p>CS Talent Show</p></div>
    <div class="show"><p>CS Talent Show</p></div>
</div> -->





</body>

</html>